@font-face {
    font-family: Bebas;
    src: url(Bebas-Regular.otf);
  }

@font-face {
    font-family: Mono;
    src: url(JetBrainsMono-Regular.ttf);
}


body
{
    background-color: #F8F4EF;
    margin: 0px;
}

.contact a:hover
{
    color:#E30513;
}

.contact img
{
    display: inline-block;
    vertical-align: middle;
    max-width: 40px;
    height: min-content;
    
}

.uppermenu
{
    font-family: Mono;
    text-align: right;
    float: right;
    padding-top: 25px;
    padding-right: 40px;
    height: 100%;
    font-size: 17px;
}

.uppermenu a
{
    text-decoration: none;
    cursor: pointer;
    color: #241F0F;
}


h3 {
    font-size: 160px;
    font-family: Bebas;
    color: #E30513;
    font-weight: 100;
    margin-bottom: -10px;
    margin-top: 0;
    margin-left: 942px;
    letter-spacing: -9px;
}

h4
{
    font-size: 15px;
    font-family: Mono;
    color: #241F0F;
    font-weight: 100;
    margin-bottom: -10px;
    margin-top: 15px;
    margin-left: 942px;
    width: 400px;
}

p1
{
    margin: 10px;
}

p1:hover
{
    font-weight: bold;
    cursor: pointer;
}

.homepic
{
    margin-left: 200px;
    margin-top: -800px;
}

img
{
    width: 400px;
    height: 100%;
    z-index:-1;
}


.container1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

.container2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}
