@font-face {
    font-family: Bebas;
    src: url(Bebas-Regular.otf);
  }

@font-face {
    font-family: Mono;
    src: url(JetBrainsMono-Regular.ttf);
}


body
{
    background-color: #F8F4EF;
    margin: 0px;
}

.contact a:hover
{
    color:#E30513;
}

.contact img
{
    display: inline-block;
    vertical-align: middle;
    max-width: 40px;
    height: min-content;
    
}

.uppermenu
{
    font-family: Mono;
    text-align: right;
    float: right;
    padding-top: 25px;
    padding-right: 40px;
    height: 100%;
    font-size: 17px;
}

.uppermenu a
{
    text-decoration: none;
    cursor: pointer;
    color: #241F0F;
}


h1 {
    font-size: 160px;
    font-family: Bebas;
    color: #E30513;
    font-weight: 100;
    margin-bottom: -10px;
    margin-top: 0px;
    margin-left: 460px;
    letter-spacing: -7px;
    padding-bottom: 10px;
    padding-top: 50px;
}

h3 {
    font-size: 15px;
    font-family: Mono;
    color: #241F0F;
    font-weight: 100;
    margin-bottom: -10px;
    margin-top: 15px;
    margin-left: 15px;
    font-weight: bolder;
    text-align: center;
}



p1
{
    margin: 10px;
}

p1:hover
{
    font-weight: bold;
    cursor: pointer;
}

img
{
    margin-left: 100px;
}

.container 
{
    position: absolute;
    top: 50%;
    left: 530px;
    text-align: center;
}

.contact
{
    font-family: Mono;
    text-align: center;
    padding-left: 12px;
}

p
{
    margin: -5px;
}

a:link
{
    text-decoration: none;
    color: #241F0F;
}

a:hover
{
    text-decoration: underline;
    color: #241F0F;
}

a:visited
{
    color: #241F0F;
}
